<div class="row">
  

<div class="one-third column">&nbsp;</div>
<div class="one-third column">
<h4><%= @user.username %> <% if @user.events.any? %> events (<%= @user.events.count %>)</h4>
<% end %>
</div>
<div class="one-third column">&nbsp;</div>
</div>

   <% if @user.events.any? %>
    
        <ol class="events">
          <%= render @events %>
        </ol>
      <% end %>



    
  <% unless  @user.attended_events.blank? %>
          <h2><%= @user.username %> attended events</h2>
          <% @user.events.each do |events| %>
          <h3><%= events.title %></h3>
    <% end %>
<% end %>





