<div class="event-box-<%= event.id %>">
  <li id="event-<%= event.id %>">
    <h4>
      <%= link_to event.title, event_path(event.id) %>
    </h4>
    <strong>
      <%= link_to event.creator.username, event.creator %>
    </strong>


    <p class="event-details">
      <%= event.details %>
    </p>
    
    <p>
      <%= event.date %>
    </p>


    <span class="timestamp">
      Posted <%= time_ago_in_words(event.created_at) %> ago.
    </span>
  </li>
</div>