
<li id="event-<%= event.id %>">
  <%= link_to event.creator.username, event.creator %>
 <%= event.title %>
 <br>
 <%= event.details %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(event.created_at) %> ago.
  </span>
</li>